<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<%= link_to 'Edit', edit_customer_order_path(@customer, @order) %> |
<%= link_to 'List Orders', customer_orders_path %>
